Repository junwoo-jeong/kataruta: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -uw, stylelint --cache --fix, eslint --cache --fix

remove cache
  .eslintcache
  .gitignore
  .stylelintcache
Due: prettier -uw

react route && page template implements
  package.json
  src/App.tsx
  src/assets/img/food-pattern.png
  src/assets/img/round-pattern.png
  src/components/Header.tsx
  src/components/LoadingOrError.tsx
  src/components/PageTemplate.tsx
  src/favicon.svg
  src/logo.svg
  src/main.tsx
  src/pages/main/MainPage.tsx
  src/recoil/main/atom.ts
  src/recoil/main/index.ts
  tailwind.config.js
  yarn.lock
Due: prettier -uw, eslint --cache --fix

done
  .eslintrc
  package.json
  public/icons/clover-border.svg
  public/icons/diamond-border.svg
  public/icons/heart-border.svg
  public/icons/heart.svg
  public/icons/kataruta-logo.png
  src/App.tsx
  src/components/Card.module.css
  src/components/Card.tsx
  src/components/CardList.module.css
  src/components/CardList.tsx
  src/components/PageTemplate.tsx
  src/components/TypingText.module.css
  src/components/TypingText.tsx
  src/components/base/PageTemplate.module.css
  src/components/base/PageTemplate.tsx
  src/hooks/useCardList.ts
  src/pages/game/GamePage.tsx
  src/pages/main/MainPage.tsx
  src/recoil/board/atom.ts
  src/recoil/board/index.ts
  src/recoil/const/atom.ts
  src/recoil/const/index.ts
  src/typings.d.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: prettier -uw, stylelint --cache --fix, eslint --cache --fix

remove stylelint
  .lintstagedrc
  .stylelintrc.backup
Due: prettier -uw

remove stylelint
  package.json
  yarn.lock
Due: prettier -uw

수정~
  package.json
  src/components/CardList.tsx
  src/components/SentenceText.module.css
  src/components/SentenceText.tsx
  src/components/TypingText.module.css
  src/components/TypingText.tsx
  src/hooks/useCardList.ts
  src/hooks/usePrevious.ts
  src/hooks/useSentence.ts
  src/pages/game/GamePage.tsx
  yarn.lock
Due: prettier -uw, stylelint --cache --fix, eslint --cache --fix

테마 추가
  src/hooks/useSentence.ts
Due: prettier -uw, eslint --cache --fix

Path conditions:
  prettier -uw: any of: *
  stylelint --cache --fix: any of: *.css
  eslint --cache --fix: any of: *.{ts,tsx}
